*{
   margin: 0px;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: #45a049;
}

.col{
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
 
}
#generate,#download{
   margin: 0.5rem;
}
.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  margin: 0px auto;
}
#qr-code{
  margin: 2rem auto;
}
input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
